<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.14.0</string>

  <key>LSArchitecturePriority</key>
  <array>
    <string>x86_64</string>
  </array>

  <key>CFBundleIconFile</key>
  <string>marsbux.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>NSHumanReadableCopyright</key>
  <string>0.21.4.0, Copyright © 2009-2024 The marsbux Core developers</string>

  <key>CFBundleShortVersionString</key>
  <string>0.21.4</string>

  <key>CFBundleVersion</key>
  <string>0.21.4</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>marsbux-Qt</string>

  <key>CFBundleName</key>
  <string>marsbux-Qt</string>

  <key>LSHasLocalizedDisplayName</key>
  <true/>

  <key>CFBundleIdentifier</key>
  <string>org.marsbux.marsbux-Qt</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>org.marsbux.marsbuxPayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>marsbux</string>
      </array>
    </dict>
  </array>

  <key>NSPrincipalClass</key>
    <string>NSApplication</string>

  <key>NSHighResolutionCapable</key>
    <string>True</string>

  <key>NSRequiresAquaSystemAppearance</key>
    <string>True</string>

  <key>LSApplicationCategoryType</key>
    <string>public.app-category.finance</string>
</dict>
</plist>
